---
import arm from "../images/arm.png";
import bee from "../images/bee.png";
import chain from "../images/chain.png";
import clock from "../images/clock.png";
import dandelion from "../images/dandelion.png";
import gears from "../images/gears.png";
import glasses from "../images/glasses.png";
import lightpost from "../images/lightpost.png";
import waterDrop from "../images/water_drop.png";
import Base from "../layouts/Base.astro";
import Panel from "../layouts/Panel.astro";
---

<Base>
    <nav
        class="fixed top-0 left-0 z-10 flex w-screen justify-center px-12 pt-12 font-[Cascadia_Code]"
    >
        <div
            class="bg-ctp-mantle border-ctp-lavender rounded-lg border-2 px-4 py-2 text-lg shadow-lg"
            transition:name="console"
        >
            <a class="text-ctp-blue" href="/">main</a>
            <span class="text-ctp-sky"> :: </span>
            <button>About</button>
            <span class="text-ctp-sky">{" -> "}</span>
            <button>Skills</button>
            <span class="text-ctp-sky">{" -> "}</span>
            <button>Awards</button>
            <span class="text-ctp-sky">{" -> "}</span>
            <button>Projects</button>
            <span class="text-ctp-sky">{" -> "}</span>
            <button>IO</button>
            <span class="text-ctp-red">()</span>
        </div>
    </nav>

    <div panel-container class="h-screen">
        <Panel id="about" image={waterDrop} />
        <Panel image={dandelion} />
        <Panel id="skills" image={gears} />
        <Panel image={bee} />
        <Panel id="awards" image={clock} />
        <Panel image={chain} />
        <Panel id="projects" image={glasses} />
        <Panel image={arm} />
        <Panel id="io" image={lightpost} />
    </div>
</Base>

<style>
    @import "../styles/globals.css";

    nav button {
        @apply text-ctp-yellow hover:underline;
    }
</style>

<script src="../lib/main.ts"></script>
