---
export interface Props {
    icon?: string;
    title: string;
    href: string;
    colour: string;
}

const { icon, title, href, colour } = Astro.props as Props;
---

<a class="opacity-0 transition-opacity duration-1000" {href} target="_blank">
    <div class="h-20 w-20 md:h-32 md:w-32" id="flip">
        <div class="h-full w-full text-center" id="inner">
            <div class="flex rounded-lg bg-base bg-opacity-40" id="front">
                {
                    icon ? (
                        <img
                            class="m-auto h-1/2 w-1/2"
                            src={`https://cdn.simpleicons.org/${icon}/${colour}`}
                        />
                    ) : (
                        <h2
                            class="neon m-auto text-xl"
                            style={{ color: `#${colour}` }}
                        >
                            {title}
                        </h2>
                    )
                }
            </div>
            <div class="flex rounded-lg bg-surface0 bg-opacity-40" id="back">
                <h2 class="neon m-auto text-xl" style={{ color: `#${colour}` }}>
                    {title}
                </h2>
            </div>
        </div>
    </div>
</a>

<style>
    #flip {
        perspective: 1000px;
    }

    #inner {
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

    #flip:hover #inner {
        transform: rotate3d(1, 1, 0, 180deg);
    }

    #front,
    #back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        transform: rotateX(0deg);
    }

    #back {
        transform: rotateY(180deg);
        h2 {
            transform: rotateZ(45deg);
        }
    }
</style>
